body {
  margin: 0;
}

.combo-box {
  border: 1px solid black;
  display: inline-grid;
  grid-template-columns: 1fr;
  align-items: center;
  border-radius: 5px;

  select {
    appearance: none;
    border: 0;
    background-color: transparent;
    width: 100px;
    padding: 0.5rem 1rem 0.5rem 2rem;
    z-index: 1;
  }
}

select,
span {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

span:nth-child(1) {
  justify-self: start;
  padding-left: 0.5rem;
}

span:nth-child(4) {
  justify-self: end;
  padding-right: 0.5rem;
}
