@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);

body,
html {
  margin: 20px;
}

.tabs {
  width: 50%;
  position: relative;
}

/* 탭 컴포넌트 */
.tab-list {
  display: flex;
  flex-flow: row nowrap;

  .tab {
    border: 1px solid gray;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem 0.25rem 0 0;
    color: gray;
    background-color: #eee;

    &.is-selected {
      border-color: currentColor currentColor white currentColor;
      color: orangered;
      background-color: white;
    }
  }
}

/* 탭 패널 */
.tab-panel {
  display: flex;
  display: none;
  flex-flow: column nowrap;
  gap: 0.5rem;
  padding-top: 1.5rem;

  &.is-selected {
    display: flex;
  }
}

/* 탭 패널 아이템 */
.tab-panel-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  a {
    /* display: flex; */
    /* flex-flow: row nowrap;
    gap: 0.5rem; */
    flex-grow: 1;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span {
    flex: 0 0 auto;
    margin-right: 0.5rem;
  }
}

.tab-more {
  position: absolute;
  top: 0;
  right: 0;
}
