@import url(/style/reset.css);
@import url(/style/base.css);
@import url(./grid.css);

body {
  margin-top: 50px;
}

.header,
.navigation,
.footer {
  height: 100px;
  width: 100%;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
  max-width: 90%;
  width: 100%;
  gap: 24px;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}

/* 햄버거 버튼 */
.burger-button {
  background: red;
  padding: 0;
  border: 0;
  width: 100px;
  height: 100px;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;

  span {
    width: 100%;
    height: 20%;
    background: #fff;
    border-radius: 20px;
    transition: all 200ms;
    grid-area: 1 / 1 / 2 / 2; /*각각의 span의 자리를 잡아주기 위해 필요 없으면 하나로 뭉쳐짐*/
  }

  .burger-bar-top {
    align-self: start;
  }

  .burger-bar-middle {
    align-self: center;
  }

  .burger-bar-bottom {
    align-self: end;
  }
}

.burger-button.is-active {
  overflow: hidden;

  span {
  }

  .burger-bar-top,
  .burger-bar-bottom {
    align-self: center;
  }

  .burger-bar-top {
    rotate: 45deg;
  }

  .burger-bar-middle {
    translate: -100% 0;
  }

  .burger-bar-bottom {
    rotate: -45deg;
  }
}

/* navigation */
.menu {
  position: fixed;
  background-color: orange;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  translate: -100% 0;
  transition-property: translate, background;
  transition-duration: 2000ms;
  transition-delay: 0ms, 4000ms;
  transition-timing-function: ease-in-out;
  /* transition: translate 2000ms 1000ms ease-in-out; */
  /* transition: translate 2000ms 1000ms ease-in-out,
    background 2000ms 2000ms ease-in-out; */

  &.is-active {
    translate: 0 0;
    background-color: purple;
  }
}
