/* body {
  background-color: yellow;
  font-family: "SUIT Variable", sans-serif;
  font-weight: 100;
} */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --container-size: 940px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: var(--container-size, 940px);
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: yellow;
  height: 10vh;
}

/* 비주얼 */
.visual {
  background-color: lightcoral;
  height: 10vh;
}

/* 메인 */
/* display: flex를 사용하여 flex container로 변경됨 flex 안에 있는 속성들은 flex item이 됨 */
.main {
  background-color: skyblue;
  height: 60vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; /*메인 축 정렬*/
  align-items: stretch; /*교차 축 정렬*/
  padding: 28px 16px 36px;
}

.group {
  border: 1px solid red;
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}

.group3 {
  width: 190px;
}

/* 슬로건 */
.slogan {
  background-color: lime;
  height: 10vh;
}

/* 푸터 */
.footer {
  background-color: orange;
}

.footer-inner {
  background-color: yellow;
  height: 10vh;
}
